<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <link rel="icon" type="image/png" sizes="32x32" href="https://www.pngitem.com/pimgs/m/627-6274938_truck-icon-truck-vector-hd-png-download.png">
    <meta name="description" content="An example application showcasing Webpack & Marko.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <app-page-meta />
    <${input.head}/>
  </head>
  <body style="background-color: #e3e3e3">
    <sample-header/>

    <div class=" m-auto ">
      <main id="main">
        <${input.body}/>
      </main>
    </div>
  <app-footer/>
  </body>
</html>
